<!DOCTYPE html>
<html>
  <head>
    <title>The EMFCamp Poster Generator</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/text.css" />
    <link rel="stylesheet" href="/css/960.css" />
    <link id="colorscheme" rel="stylesheet" href="/css/whiteonblue.css" />
    <link rel="stylesheet" media="print" href="/css/print.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/markdown.converter.js"></script>
    <script src="/js/markdown.sanitizer.js"></script>
    <script src="/js/postereditor.js"></script>
    <% if @poster.id %><script>body_markdown = "<%= @poster.get_markdown.gsub(/\n/, "\\n") %>";</script><% end %>
  </head>
  <body>
    <div class="container_12">
      <div id="save_bar"><p>Finished editing?</p> <form action="/save" method="post"><input type="submit" name="submit" value="Save" /></form></div>
      <div id="css_changer"><p>Change colour scheme</p></div>
      <script>$('#save_bar').hide();</script>
      <header <% if @poster.id %>data_edited="true"<% end %>>
        <h1><%= @poster.title || "The EMFCamp Poster Generator" %></h1>
        <% if !@poster.title %><h2>Click here to edit this</h2><% end %>
      </header>

      <article>
      <div class="grid_7">
        <form id="image_edit" action="#" style="display: none;">
          <input type="text" name="url" id="image_url" />
          <p>Enter a URL to an image in the field above.</p>
        </form>
        <figure>
          <% if @poster.image_url %>
            <img src="<%= @poster.image_url %>" />
          <% else %>
            <img src="http://placekitten.com/g/570/390" />
            <figcaption>Click the image to change it.</figcaption>
          <% end %>
          </figure>
        </div>
        <div class="grid_4 prefix_1" id="article_text" <% if @poster.id %>data_edited="true"<% end %>>
          <% if @poster.body != "" %>
            <%= @poster.body %>
          <% else %>
            <p>Click here to edit this! You can use Markdown for formatting.</p>
            <p>Terry richardson cardigan nihil culpa retro. Accusamus pork belly elit semiotics, irure consequat chambray. Jean shorts DIY aute skateboard duis, brooklyn bespoke laborum voluptate banh mi stumptown cillum dolor sint chambray. Hoodie butcher high life shoreditch, sustainable sartorial assumenda 3 wolf moon readymade raw denim eiusmod mollit squid. Typewriter ut cardigan, pour-over sustainable 8-bit sartorial reprehenderit magna. Narwhal iphone sint irure, dreamcatcher hoodie ennui cardigan. Irony thundercats consequat sed, accusamus mollit keytar pork belly master cleanse sriracha non consectetur viral reprehenderit 3 wolf moon.</p>
            <p>Ennui art party etsy, chillwave tofu freegan shoreditch mlkshk consequat retro helvetica you probably haven't heard of them vero hella quis. Laborum fap mollit accusamus. Proident lo-fi culpa pickled, do helvetica elit vinyl next level adipisicing. Gluten-free cupidatat exercitation gastropub shoreditch biodiesel. +1 williamsburg cillum photo booth hoodie occupy, whatever chillwave minim aliqua. Polaroid nesciunt letterpress biodiesel. Mumblecore esse banh mi, sriracha sint velit authentic ea quinoa nulla cillum retro ad.</p>
          <% end %>
        </div>
        <div class="clear"></div>
      </article>

      <footer>
      <p><%= @poster.footer || 'Poster generator built by <a href="http://alexpounds.com/">Alex Pounds</a>. You can click the footer to change it, too.' %>
      <span id="poster_strap"><% if @poster.id %>View this online at <% else %>Make your own at <% end %><span id="poster_url"></span></span></p>
      <script>$("#poster_url").text(window.location.href);</script>
      </footer>
    </div>
  </body>
</html>


